@media (max-width: 1024px) {
    .signUp_active {
        right: 8%;
    }

    .header_white_navigation {
        width: 60%;
    }

    .header_white {
        width: 100%;
        padding: 61px 5px 61px 5px;
    }
    .second_section {
        width: 98%;
    }

    .third_section {
        width: 90%;
    }

    .fifth_section {
        width: 90%;
    }
    .wknd_inbox_img{
        display: none;
    }

    .wknd_inbox {
        width: 90%;
    }
    .wknd_inbox_text{
        width: 100%;
    }


    .footer_icones {
        width: 25%;
    }

}